/* role.module.css */

.roleContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .roleOption {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    height: 500px;
    background-color: #f8f8f8;
  }
  
  .roleOption label {
    font-weight: bold;
  }
  
  .roleOption p {
    margin-top: 10px;
  }
  .next{
    position: fixed;
    right: 100px;
    bottom: 50px;
    background-color: green;
    color: white;
    padding: 10px 40px;
    text-transform: capitalize;
    border-radius: 15px;
  }