.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 350px;
  margin: 10px;
}
.dispcont{
  height: 400px;
  width: 400px;
}
.hash-value{
  width: 200px;
  word-wrap: break-word;
  color: white;
  text-align: center;
}

.image-list img {
  width: 200px;
  height: 150px;
}
.center {
  margin: 40px;
}

.button {
  
  background-color: #A5DD9B;
  border-radius: 15px;
  color: #000;
  padding: 10px 30px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
 
}
.button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
.address {
  display: block;
  margin: auto;
  height: 30px;
  padding: 20px;
  width: 350px;
  text-align: center;
  border: none;
  border-radius: 15px;
  text-transform: capitalize;
}

input[type="text"]:focus {
  background-color: lightblue;
}

.hash-value{
  width: 200px;
  word-wrap: break-word;
}
